.carousel-item__lock {
    @include set-size(21.7vw, auto);
    position: absolute;
    top: 8.3%;
    right: 5.2%;
	z-index: 2;
	animation: arrowDownLoop 10s infinite linear;
}

.carousel-arrow-button {
	@include set-size(32px, 32px);
	@include center-y(absolute);

	&.left {
		left: 0;
		transform: rotate(90deg) translateY(-50%);
	}
	&.right {
		right: 0;
		transform: rotate(-90deg) translateY(-50%);
	}

	@include maxHeight(640) {
		margin-top: -4.5vh
	}
}

.carousel-arrow-left, .carousel-arrow-right {
	@include set-size(32px, 32px);
	display: block;
	margin: 0 auto;
	background-image: url('/assets/images/arrow-down.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	position: absolute;
	top: 50%;
}

.carousel-arrow-left {
	animation: arrowLeftLoop 3s infinite linear;
}

.carousel-arrow-right {
	animation: arrowRightLoop 3s infinite linear;
}

.carousel-item, .slick-slide {
	@include set-size(100%, auto);
    display: inline-block;
    position: relative;
	
	.carousel-item__img {
		@include set-size(100%, auto);
	}
}

@keyframes arrowLeftLoop {
	0% {
		transform: translateY(-50%) translateX(0);
	}
	50% {
		transform: translateY(-60%) translateX(0);
	}
	100% {
		transform: translateY(-50%) translateX(0);
	}
}
@keyframes arrowRightLoop {
	0% {
		transform: translateY(-50%) translateX(0%);
	}
	50% {
		transform: translateY(-40%) translateX(0%);
	}
	100% {
		transform: translateY(-50%) translateX(0%);
	}
}