.form-field {
	@include set-size(100%, 33px);
	margin: 0 auto 16px auto;
	// display: flex;
	// flex-flow: column-reverse;
	text-align: left;
	border: none;
	border-radius: 6px;
	background-color: $white;
	position: relative;	
	height: 40px;




	.error-message {
		color: $warning-color;
		font-family: $rob-regular;
		@include font-size(9);
		background-color: transparent;
		position: absolute;
		bottom: -13px;
		left: 11px;
		// padding: 0 0.325rem;

		@include minWidth($min-width) {
			left: 0
		}
	}

	label, input, select { 
		transition: all 0.4s;
		touch-action: manipulation;
		border-bottom: none;
	}
	label {
		margin-left: 11px;
		color: $bt-text-color;
		font-family: $rob-regular;
		@include font-size(10);
		@include center-y(absolute);

	}
	input, select {
		@include set-size(calc(100% - 11px), 100%);
		background-color: transparent;
		border: none;
		color: $black;
		font-family: $rob-regular;
		@include font-size(12);
		padding-left: 11px;
		outline: 0;
		-webkit-appearance: none;
	}

	input[type=date]:not(.browser-default), 
	input[type=datetime-local]:not(.browser-default), 
	input[type=datetime]:not(.browser-default), 
	input[type=email]:not(.browser-default), 
	input[type=number]:not(.browser-default), 
	input[type=password]:not(.browser-default), 
	input[type=search]:not(.browser-default), 
	input[type=tel]:not(.browser-default), 
	input[type=text]:not(.browser-default), 
	input[type=time]:not(.browser-default), 
	input[type=url]:not(.browser-default), 
	textarea.materialize-textarea {
		border: none !important;
		padding-left: 11px;
		font-size: 12px;
		color: $black;
		font-family: $rob-regular;
		height: 40px;
    padding-top: 10px;
	}

	input:not([type]):focus:not([readonly]), 
	input[type=date]:not(.browser-default):focus:not([readonly]), 
	input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
	input[type=datetime]:not(.browser-default):focus:not([readonly]), 
	input[type=email]:not(.browser-default):focus:not([readonly]), 
	input[type=number]:not(.browser-default):focus:not([readonly]), 
	input[type=password]:not(.browser-default):focus:not([readonly]), 
	input[type=search]:not(.browser-default):focus:not([readonly]), 
	input[type=tel]:not(.browser-default):focus:not([readonly]), 
	input[type=text]:not(.browser-default):focus:not([readonly]), 
	input[type=time]:not(.browser-default):focus:not([readonly]), 
	input[type=url]:not(.browser-default):focus:not([readonly]), 
	textarea.materialize-textarea:focus:not([readonly]) {
		border: none;
		box-shadow: 0 1px 0 0 transparent;
	}

	&.error-field {
		border: 1px solid $warning-color;

		label, input {
			color: $warning-color;
		}
	}

	input:focus {
		outline: 0;
	}

	label {
		text-transform: uppercase;
		background-color: $white;
		padding: 0.025rem;
		display: block;
	}

	input:placeholder-shown + label {
		max-width: 66.66%;
		// padding: 0 0.4rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		transform-origin: left bottom;
	}

	::-webkit-input-placeholder {
		opacity: 0;
		transition: inherit;
		color: #aaadb4;
	}

	input:focus::-webkit-input-placeholder {
		opacity: 1;
	}

	input:not(:placeholder-shown) + label,
	input:focus + label {
		max-width: 66.66%;
		padding: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		transform-origin: left bottom;
		transform: translate(0, -150%);
		color: $black;
		outline: none;
		font-size: 9px;
	}
	input:-webkit-autofill,
	input:-webkit-autofill:hover, 
	input:-webkit-autofill:focus {
		background-color: transparent !important;
		border: none !important;
		-webkit-text-fill-color: #000000 !important;
		box-shadow: 0 0 0px 1000px #ffffff inset !important;
		margin-top: 2% !important;
		width: 90% !important;
		height: 70% !important;
		font-family: $rob-regular !important;
	}
}

.form-filed__half {
	@include set-size(100%, 40px);
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0 auto 15px auto;

	.form-field {
		width: 48.5%;
		margin: 0;

		input:-webkit-autofill,
		input:-webkit-autofill:hover, 
		input:-webkit-autofill:focus {
			margin-top: 4% !important;
		}

		input {
			margin-top: 0;
		}
	}
	@include maxWidth(768){
		flex-direction: column;
		height: auto;
		.form-field{
			width: 100%;
			margin-bottom: 16px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

.styled-checkbox {
	position: absolute;
	opacity: 0;
	text-align: left;
  
	& + label {
	  position: relative;
	  cursor: pointer;
	  padding: 0;
	  color: $black;
	  font-family: $rob-regular;
	  @include font-size(13);
	  margin-bottom: 7px;
	  margin-left: 30px;
	  display: block;
	  a {
		color: $black;
		text-decoration: underline;
	  }
  
	  @include maxHeight(640) {
		@include font-size(12);
	  }

	  @include maxWidth(360) {
		@include font-size(10);
	  }

	  @include minWidth($min-width) {
		@include font-size(11);
		margin-bottom: 20px;
	  }
	}
  
	// Box.
	& + label:before {
	  content: '';
	  display: inline-block;
	  vertical-align: text-top;
	  width: 20px;
	  height: 20px;
	  background: transparent;
	  border-radius: 50%;
	  border: none;
	  border: 1px #5a5b5d solid;
	  transition: all 0.4s;
	  position: absolute;
	  left: -30px;
	}
  
	// Box hover
	&:hover + label:before {
	  // background: #000000;
	  background: transparent;
	}
	
	// Box focus
	&:focus + label:before {
	  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	}
  
	// Box checked
	&:checked + label:before {
	  background: transparent;
	  border: 1px #5a5b5d solid;
	}
	
	// Disabled state label.
	&:disabled + label {
	  color: #b8b8b8;
	  cursor: auto;
	}
  
	// Disabled box.
	&:disabled + label:before {
	  box-shadow: none;
	  background: #ddd;
	}
  
	// Checkmark. Could be replaced with an image
	&:checked + label:after {
	  content: '';
	  position: absolute;
	  left: -25px;
	  top: 9px;
	  background: #e8cb5a;
	  width: 2px;
	  height: 2px;
	  box-shadow: 
		2px 0 0 #e8cb5a,
		4px 0 0 #e8cb5a,
		4px -2px 0 #e8cb5a,
		4px -4px 0 #e8cb5a,
		4px -6px 0 #e8cb5a,
		4px -8px 0 #e8cb5a;
	  transform: rotate(45deg);
	}
}

/*the container must be positioned relative:*/
.custom-select {
	@include set-size(100%, 100%);
	position: relative;
	font-family: $rob-regular;
	@include font-size(9);
	color: $black;
	&:after {
		content: "";
		@include center-y(absolute);
		right: 10px;
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid $black;
	}
}

.custom-select select {
	// display: none; /*hide original SELECT element:*/
}

.select-selected {
	background-color: $white;
	border: none;
}

/*style the arrow inside the select element:*/
.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-radius: 4px;
	border-color: $black transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
	border-color: transparent transparent $black transparent;
	top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
	color: $black;
	padding: 11px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
	border-radius: 4px;
}

.select-selected {
	border: none;
}

/*style items (options):*/
.select-items {
	position: absolute;
	background-color: $white;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	max-height: 96px;
    overflow-y: scroll;
}

/*hide the items when the select box is closed:*/
.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}

input[type=range] {
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
	background-color: transparent;
  }
  input[type=range]:focus {
	outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 12px;
	cursor: pointer;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	background: #fff;
	border-radius: 25px;
	border: 0px solid #000101;
  }
  input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background: $orange;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -3.6px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
	background: #fff;
  }
  input[type=range]::-moz-range-track {
	width: 100%;
	height: 12.8px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	background: #fff;
	border-radius: 25px;
	border: 0px solid #000101;
  }
  input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	height: 20px;
	width: 39px;
	border-radius: 7px;
	background: $orange;
	cursor: pointer;
  }
  input[type=range]::-ms-track {
	width: 100%;
	height: 12.8px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	border-width: 39px 0;
	color: transparent;
  }
  input[type=range]::-ms-fill-lower {
	background: #fff;
	border: 0px solid #000101;
	border-radius: 50px;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
	background: #fff;
	border: 0px solid #000101;
	border-radius: 50px;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	height: 20px;
	width: 39px;
	border-radius: 7px;
	background: $orange;
	cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
	background: #fff;
  }
  input[type=range]:focus::-ms-fill-upper {
	background: #fff;
  }
  