body, html {
	@include set-size(100%, 100%);
	font-size: 100%;
	-webkit-font-smoothing: initial;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	background-color: $bg-color;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	font-family: $rob-regular;
	margin: 0;
	user-select: none;

	/* width */
	&::-webkit-scrollbar {
		width: 10px;
		@include maxWidth(1023) {
			width: 2px;
		}
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: $black; 
		border-left: 1px solid #fff;
	}
	
	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #fff; 
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: #e4e4e4; 
	}
	
	@include maxWidth(1023) {
		min-width: 100%;
	}
}



.modal-close-hit{
	@include set-size(100%, 100%);
	@include center(absolute);
	background-color: transparent;
}
.interface {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-webkit-touch-callout: none;
	-ms-content-zooming: none;
}

.user-action-none {
	touch-action: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
}

.center-content {
	width: $wrapper-width;
   	@include center(absolute);
}

.default-button {
	text-align: center;
	@include font-size(11);
	font-family: $rob-regular;
	padding: 16px;
	border-radius: 4px;
	display: inline-block;
	letter-spacing: 0.05em;
	cursor: pointer;
	transition: background-color 0.6s linear, color 0.6s linear, opacity 0.6s linear;
	&.black {
		background-color: $bt-bg-color;
		color: $white;
		transition: background-color 0.8s linear, color 0.6s linear, opacity 0.6s linear;
		&:hover{
			background-color: #cd9f3f;
			color: $bt-bg-color;		
		}
	}
	&.green {
		background-color: #3c5117;
		color: $white;
		transition: background-color 0.8s linear, color 0.6s linear, opacity 0.6s linear;
		&:hover{
			background-color: #cd9f3f;
			color: $bt-bg-color;		
		}
	}
	
	&.white {
		background-color: $white;
		color: $bt-bg-color;

		&:hover{
			background-color: #cd9f3f;
			color: $bt-bg-color;
		}
	}

	&.orange {
		background-color: #cd9f3f;
		color: $bt-bg-color;
		&:hover{
			opacity: 0.8;
			// background-color: $white;
			// color: $bt-bg-color;		
		}
	}

	&.pulse {
		display: inline-block;
		vertical-align: middle;
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		animation-name: pulse;
		animation-duration: 1.5s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	&:disabled {
		background-color: rgba(255, 255, 255, 0.8) !important;
		color: #b8b8b8;
		cursor: not-allowed;

		&:hover {
			color: #b8b8b8;
		}
	}
}


.text-mask {
	overflow: hidden;

	.text-masked {
		display: inline-block;
		transform: translateX(-130%);

		.font-light {
			// font-family: $light;
		}
	}
}

*, *:before, *:after {
	box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

.box-justify{
	display: flex;
  	justify-content: space-between;
}

a {
	text-decoration: none;
}

.text-warning{
  color: #ff123e;
}

b, strong{
	// font-family: $bold;
}

.clear {
	clear: both;
}
