/* Link hotspot */

.link-hotspot {
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.no-touch .link-hotspot:hover {
  opacity: 1;
}

.mobile .link-hotspot {
  width: 70px;
  height: 70px;
}

.link-hotspot-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform: scale(1.4) !important;
}

.link-hotspot-tooltip {
  position: absolute;
  left: 100%;
  top: 14px; /* ( 60 - (16 + 2*8) ) / 2 */
  margin-left: 3px;
  font-size: 16px;  
  max-width: 300px;
  padding: 8px 10px;  
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  -ms-transform: translateX(-8px);
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);

  -webkit-transition: -ms-transform 0.3s,
                      -webkit-transform 0.3s,
                      transform 0.3s,
                      opacity 0.3s;
  transition: -ms-transform 0.3s,
              -webkit-transform 0.3s,
              transform 0.3s,
              opacity 0.3s;
}

.mobile .link-hotspot {
  top: 19px; /* ( 70 - (16 + 2*8) ) / 2 */
}

.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  opacity: 1;
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* Prevent tooltip from triggering */
.link-hotspot-tooltip {
  pointer-events: none;
}
.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  pointer-events: all;
}

/* Fallback mode without pointer-events (IE8-10) */
.tooltip-fallback .link-hotspot-tooltip {
  display: none;
}
.no-touch .tooltip-fallback .link-hotspot:hover .link-hotspot-tooltip {
  display: block;
}

/* Info hotspot */

.info-hotspot {
  line-height: 1.2em;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s 0.2s;
  transition: opacity 0.2s 0.2s;
}

.no-touch .info-hotspot:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.info-hotspot.visible {
  opacity: 1;
}

.info-hotspot .info-hotspot-header {
  width: auto;
  height: 35px;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  -webkit-transition: width 0.3s ease-in-out 0.5s;
  transition: width 0.3s ease-in-out 0.5s;
}
.info-hotspot-ar .info-hotspot-header {
  width: auto;
  height: 50px;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  -webkit-transition: width 0.3s ease-in-out 0.5s;
  transition: width 0.3s ease-in-out 0.5s;
}

.mobile .info-hotspot .info-hotspot-header {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.desktop.no-touch .info-hotspot .info-hotspot-header:hover {
  // width: 160px;
  // background-color: rgba(0,0,0,0.7);
  // -webkit-transition: width 0.3s ease-in-out;
  // transition: width 0.3s ease-in-out;
}

.desktop .info-hotspot.visible .info-hotspot-header,
.desktop.no-touch .info-hotspot.visible .info-hotspot-header:hover {
  // background-color: rgba(0,0,0,0.7);
  // width: 160px;
  // transition: width 0.3s ease-in-out,
}

.info-hotspot .info-hotspot-icon-wrapper {
  width: 40px;
  height: 40px;
  display: block;
}
.info-hotspot-ar .info-hotspot-icon-wrapper {
  width: 70px;
  height: 70px;
}

.mobile .info-hotspot .info-hotspot-icon-wrapper {
  width: 50px;
  height: 50px;
}

.mobile .info-hotspot-ar .info-hotspot-icon-wrapper {
  width: 70px;
  height: 70px;
}

.info-hotspot .info-hotspot-icon {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.info-hotspot .info-hotspot-title-wrapper {
  @include center-x(absolute);
  bottom: -100%;
  display: block;
  min-width: 250px;
  padding: 0;
  font-family: $rob-regular;
  overflow: hidden;
  text-align: center;;
  -webkit-transition: padding 0s 0.4s, opacity 0.4s;
  transition: padding 0s 0.4s, opacity 0.4s;
  color: $white;
  opacity: 0;
  text-shadow: 0px 0px 3px #000;
}

.desktop .info-hotspot.visible .info-hotspot-title-wrapper,
.desktop.no-touch .info-hotspot .info-hotspot-header:hover .info-hotspot-title-wrapper {
  opacity: 1;
}

.info-hotspot .info-hotspot-title {
  display: inline-block;
  vertical-align: middle;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}